In [1]:
# RandomForest Model ===> Supervised ML Model 

# 1 R.F.  ===> `100 DECISIO TREE MODEL 

# Target data Categorical ===> R.F.Classifier() ====> 100 dt ===> 70 yes , 30 no ===>
# majority ==> final prediction (yes)

# Target data Numerical ====>  R.F.Regressor() ====> mean > value ===> final prediction

In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\deepak\\Summer Intership and Training\\Machine_Learning\\csv\\Social_Network_Ads.csv")

In [3]:
df.head(2)

    User ID Gender  Age  EstimatedSalary  Purchased
0  15624510   Male   19            19000          0
1  15810944   Male   35            20000          0

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
lb = LabelEncoder()

In [6]:
df['Gender'] = lb.fit_transform(df['Gender'])

In [7]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

In [8]:
x = df.drop(columns = ['Purchased'] , axis = 1)
y = df['Purchased']

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [11]:
from sklearn.ensemble import RandomForestClassifier

In [12]:
rf = RandomForestClassifier()

In [13]:
rf.fit(x_train , y_train)

RandomForestClassifier()

In [14]:
y_pred = rf.predict(x_test)

In [15]:
from sklearn.metrics import accuracy_score

In [16]:
accuracy_score(y_test , y_pred)

0.9125

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
lr = LogisticRegression()

In [19]:
lr.fit(x_train , y_train)

LogisticRegression()

In [20]:
y_pred = lr.predict(x_test)

In [21]:
accuracy_score(y_test , y_pred)

0.7375

In [22]:
from sklearn.tree import DecisionTreeClassifier

In [23]:
dt = DecisionTreeClassifier()

In [24]:
dt.fit(x_train , y_train)

DecisionTreeClassifier()

In [25]:
y_pred = dt.predict(x_test)

In [26]:
accuracy_score(y_test , y_pred)

0.9

# RandomForestRegressor

In [67]:
df = pd.read_csv("C:\\Users\\deepak\\Summer Intership and Training\\Machine_Learning\\Assignment_2\\tips.csv")

In [68]:
df.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [69]:
from sklearn.preprocessing import LabelEncoder

In [70]:
lb = LabelEncoder()

In [71]:
df['sex'] = lb.fit_transform(df['sex'])
df['smoker'] = lb.fit_transform(df['smoker'])
df['day'] = lb.fit_transform(df['day'])
df['time'] = lb.fit_transform(df['time'])

In [72]:
df.head(2)

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3

In [73]:
x = df.drop(columns = ['total_bill'] , axis = 1)
y = df['total_bill']

In [74]:
from sklearn.model_selection import train_test_split

In [75]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [76]:
from sklearn.linear_model import LinearRegression

In [77]:
lr= LinearRegression()

In [78]:
lr.fit(x_train , y_train)

LinearRegression()

In [79]:
y_pred = lr.predict(x_test)

In [80]:
from sklearn.metrics import r2_score

In [81]:
r2_score(y_test , y_pred)

0.6334779105328128

In [82]:
from sklearn.tree import DecisionTreeRegressor

In [83]:
dt = DecisionTreeRegressor()

In [84]:
dt.fit(x_train , y_train)

DecisionTreeRegressor()

In [85]:
y_pred= dt.predict(x_test)

In [86]:
r2_score(y_test , y_pred)

0.4878292668287456

In [90]:
from sklearn.ensemble import RandomForestRegressor

In [91]:
rf = RandomForestRegressor()

In [92]:
rf.fit(x_train , y_train)

RandomForestRegressor()

In [93]:
y_pred = rf.predict(x_test)

In [94]:
r2_score(y_test , y_pred)

0.5229088489034361