In [37]:
# Decision Tree Algorithm ====> Supervised ML Algorithm ====>
# Target data ===>
# Categorical ====> DecisionTreeClassifier()
# Numerical ===> Decision TreeRegressor
import numpy as np
import pandas as pd

In [38]:
df = pd.read_csv('C:\\Users\\deepak\\Summer Intership and Training\\Machine_Learning\\Assignment_2\\covid_toy.csv')
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [39]:
df = df.dropna()
from sklearn.preprocessing import LabelEncoder

In [40]:
lb = LabelEncoder()

In [41]:
df['gender'] = lb.fit_transform(df['gender'])
df['cough'] = lb.fit_transform(df['cough'])
df['city'] = lb.fit_transform(df['city'])
df['has_covid'] = lb.fit_transform(df['has_covid'])
df.head()

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1
2   42       1  101.0      0     1          0
3   31       0   98.0      0     2          0
4   65       0  101.0      0     3          0

In [42]:
x = df.drop(columns = ['has_covid']) 
y=df['has_covid']
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state = 42)

from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(x_train, y_train)

DecisionTreeClassifier()

In [43]:
DecisionTreeClassifier()
y_pred = dt.predict(x_test)
from sklearn.metrics import accuracy_score

In [44]:
accuracy_score(y_test, y_pred)

0.4444444444444444

In [45]:
df = pd.read_csv('C:\\Users\\deepak\\Summer Intership and Training\\Machine_Learning\\Assignment_2\\tips.csv')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [46]:
from sklearn.preprocessing import LabelEncoder

In [47]:
df['sex'] = lb.fit_transform(df['sex'])
df['smoker'] = lb.fit_transform(df['smoker'])
df['day'] = lb.fit_transform(df['day'])
df['time'] = lb.fit_transform(df['time'])
df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [50]:
x = df.drop(columns=['total_bill'], axis=1)
y = df['total_bill']

In [57]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state = 42)
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor()
dt.fit(x_train, y_train)
DecisionTreeRegressor()
y_pred = dt.predict(x_test)
from sklearn.metrics import r2_score

In [58]:
r2_score(y_test, y_pred)

0.380283018571806

## apply decision tree algorithm on insurance dataset

In [79]:
import numpy as np
import pandas as pd
df = pd.read_csv("C:\\Users\\deepak\\Summer Intership and Training\\Machine_Learning\\Assignment_2\\insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [80]:
from sklearn.preprocessing import LabelEncoder

In [81]:
lb = LabelEncoder()

In [82]:
df['sex'] = lb.fit_transform(df['sex'])
df['smoker'] = lb.fit_transform(df['smoker'])
df['region'] = lb.fit_transform(df['region'])
# df['continuous'] = lb.fit_transform(df['continuous'])
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [83]:
x = df.drop(columns = ['charges']) 
y=df['charges']

In [84]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state = 42)
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeRegressor()
dt.fit(x_train, y_train)
DecisionTreeRegressor

sklearn.tree._classes.DecisionTreeRegressor

In [85]:
y_pred = dt.predict(x_test)
from sklearn.metrics import r2_score

In [86]:
r2_score(y_test, y_pred)

0.7364595402894657

## apply decision tree algorithm on newplacement dataset

In [87]:
import numpy as np
import pandas as pd
df = pd.read_csv("C:\\Users\\deepak\\Summer Intership and Training\\Machine_Learning\\csv\\newplacementdata.csv")
df.head()

   cgpa  placement_exam_marks  placed
0  7.19                    26       1
1  7.46                    38       1
2  7.54                    40       1
3  6.42                     8       1
4  7.23                    17       0

In [88]:
x = df.drop(columns = ['placed']) 
y=df['placed']
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state = 42)

In [90]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(x_train, y_train)

DecisionTreeClassifier()

In [91]:
DecisionTreeClassifier()
y_pred = dt.predict(x_test)
from sklearn.metrics import accuracy_score

In [92]:
accuracy_score(y_test, y_pred)

0.495