In [1]:
# ML Models ====>>>>

# (1). Supervised ML Model  ===> labelled data 

# (2). UnSupervised ML Model  ===> Unlabelled data

In [2]:
# (1). Supervised ML Models

# (a). LinearRegression ===> when we have numerical target column .

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("C:\\Users\\deepak\\Summer Intership and Training\\Machine_Learning\\Assignment_2\\insurance.csv")

In [4]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
lb = LabelEncoder()

In [7]:
df['sex'] = lb.fit_transform(df['sex'])
df['smoker'] = lb.fit_transform(df['smoker'])
df['region'] = lb.fit_transform(df['region'])

In [8]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [9]:
x = df.drop(columns = ['charges'] , axis = 1)
y = df['charges']

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
lr = LinearRegression()

In [14]:
lr.fit(x_train , y_train)

LinearRegression()

In [15]:
y_pred = lr.predict(x_test)

In [16]:
from sklearn.metrics import r2_score

In [17]:
r2_score(y_test ,y_pred)

0.7833463107364538

In [18]:
# (2). LogisticRegression Algorithm ===> when we have categorical target column

In [19]:
import numpy as np 
import pandas as pd

In [22]:
df = pd.read_csv("C:\\Users\\deepak\\Summer Intership and Training\\Machine_Learning\\Assignment_2\\placement.csv")

In [23]:
df.head(2)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0

In [24]:
x = df.drop(columns = ['placed'] , axis = 1)
y = df['placed']

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [27]:
from sklearn.linear_model import LogisticRegression

In [28]:
lr = LogisticRegression()

In [29]:
lr.fit(x_train , y_train)

LogisticRegression()

In [30]:
y_pred = lr.predict(x_test)

In [31]:
from sklearn.metrics import accuracy_score

In [32]:
accuracy_score(y_test , y_pred)

1.0

# task - tips data

In [33]:
import numpy as np 
import pandas as pd

In [37]:
df = pd.read_csv("C:\\Users\\deepak\\Summer Intership and Training\\Machine_Learning\\Assignment_2\\tips.csv")

In [38]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [39]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()

In [40]:
df['sex'] = lb.fit_transform(df['sex'])
df['smoker'] = lb.fit_transform(df['smoker'])
df['day'] = lb.fit_transform(df['day'])
df['time'] = lb.fit_transform(df['time'])

In [41]:
x = df.drop(columns = ['total_bill'] , axis = 1)
y = df['total_bill']

In [42]:
from sklearn.model_selection import train_test_split

In [43]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [44]:
from sklearn.linear_model import LinearRegression

In [45]:
lr = LinearRegression()

In [46]:
lr.fit(x_train , y_train)

LinearRegression()

In [47]:
y_pred = lr.predict(x_test)

In [48]:
from sklearn.metrics import r2_score

In [49]:
r2_score(y_test ,y_pred)

0.6334779105328128

# task = covid data

In [50]:
import numpy as np 
import pandas as pd

In [52]:
df = pd.read_csv("C:\\Users\\deepak\\Summer Intership and Training\\Machine_Learning\\Assignment_2\\covid_toy.csv")
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [53]:
df=df.dropna()

In [54]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()

In [55]:
df['gender'] = lb.fit_transform(df['gender'])
df['cough'] = lb.fit_transform(df['cough'])
df['city'] = lb.fit_transform(df['city'])
df['has_covid'] = lb.fit_transform(df['has_covid'])

In [56]:
x = df.drop(columns = ['has_covid'] , axis = 1)
y = df['has_covid']

In [57]:
from sklearn.model_selection import train_test_split

In [58]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [59]:
from sklearn.linear_model import LogisticRegression

In [60]:
lr = LogisticRegression()

In [61]:
lr.fit(x_train , y_train)

LogisticRegression()

In [62]:
y_pred = lr.predict(x_test)

In [63]:
from sklearn.metrics import accuracy_score

In [64]:
accuracy_score(y_test ,y_pred)

0.4444444444444444