In [1]:
# ML Models ====>>>>

# (1). Supervised ML Model  ===> labelled data 

# (2). UnSupervised ML Model  ===> Unlabelled data

In [2]:
# (1). Supervised ML Models

# (a). LinearRegression ===> when we have numerical target column .

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\Newdat\\insurance.csv")

In [5]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [6]:
from sklearn.preprocessing import LabelEncoder

C:\Users\saurabh\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [7]:
lb = LabelEncoder()

In [8]:
df['sex'] = lb.fit_transform(df['sex'])
df['smoker'] = lb.fit_transform(df['smoker'])
df['region'] = lb.fit_transform(df['region'])

In [9]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [10]:
x = df.drop(columns = ['charges'] , axis = 1)
y = df['charges']

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
lr = LinearRegression()

In [15]:
lr.fit(x_train , y_train)

LinearRegression()

In [16]:
y_pred = lr.predict(x_test)

In [17]:
from sklearn.metrics import r2_score

In [18]:
r2_score(y_test ,y_pred)

0.7833463107364539

# task - tips data

In [19]:
# (2). LogisticRegression Algorithm ===> when we have categorical target column

In [20]:
import numpy as np 
import pandas as pd

In [21]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\Newdat\\placement.csv")

In [23]:
df.head(2)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0

In [24]:
x = df.drop(columns = ['placed'] , axis = 1)
y = df['placed']

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [27]:
from sklearn.linear_model import LogisticRegression

In [28]:
lr = LogisticRegression()

In [29]:
lr.fit(x_train , y_train)

LogisticRegression()

In [30]:
y_pred = lr.predict(x_test)

In [31]:
from sklearn.metrics import accuracy_score

In [32]:
accuracy_score(y_test , y_pred)

1.0

# task = covid data